.DS_Store
.idea/
.vscode/
.oca/
*.iml
.env
.env.*
!.env.example

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/*.auto.tfvars
!**/*.tfvars.example

**/target/
**/node_modules/
**/dist/
**/coverage/

*.log
*.pem
*.key
